
body {
    margin: 0;
    padding: 3rem 10rem 0 10rem;
}

#pictures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));    
    grid-gap: 2rem 16rem;
}

#pictures > li {
    display: flex;
    justify-content: center;
   

}

div {
    margin: 0 0 5% 5%;
    display: flex;
}

input[type=text] {
    background-color: #d4e8ff;
    color: #2c8fff;
    padding: 12px 20px;
    margin: auto;
    display: flex;
    width: 100%;
    border-radius:100px;
    border: 3px solid #c8e1ff;
    outline: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 3px solid #2c8fff;
}

button {
    
    background-color: #ff6262;
    color: #ffffff;
    padding: 14px 20px;
    margin: 0 0 0 1em;
    border: none;
    outline: none;
    border-radius: 100px;
    cursor: pointer;
}

button:hover {
    background-color:#ff9a9a;
}

img {
    border-radius: 8px;
}

img:hover {
    opacity: 0.95;
    transform: scale(1.01);
    transition: all 0.3s ease;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.473);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    input[type=text] {
        margin: auto;
        display: flex;
        width: 300px;
    }
    div {
        margin: 0;
    }
    body {
        margin: 0 1% 0 1%;
        padding: 3rem 0rem 0 0rem;
}
}